:root{
    --bg-color:white;
    --font-color:black;
    --bg-fontcolor: white;
    --dividercolor: rgba(0,0,0,0.2);
    --accentcolor:rgb(69, 104, 133);
}

body, html,section, a,h1, p{
    margin: 0 auto;
    padding: 0;
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
    height: 100%;
    max-width: 1500px;

}
h3{
    text-align: center;
}
p{
    color:var(--font-color);
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
}
button {
    margin: 20px;
    outline: none;
  }
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/app/images/skyscraper_top.jpg");
    min-height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}
.imgtext {
    font-size: 7rem;
    color: var(--bg-fontcolor);
    text-align: center;
}

.search{
    width:75%;
    display:flex;
    flex-direction: column;
    margin: 10px auto;
    
    box-shadow: 0 4px 8px 0 var(--dividercolor);
   
}
.divider {
    border-bottom: 1px solid  var(--dividercolor);
    padding: 15px;
    padding-left: 40px;
    font-size: 1.2rem;
    
}

/* NAVIGATION */
nav {
    width: 80%;
    margin: 0 auto;
    background: var(--bg-color);
    padding: 20px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  
  /* By Dominik Biedebach @domobch */
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: var(--accentcolor);
  }
  
  /* By Dominik Biedebach @domobch */
  
  
  /* stroke */
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--accentcolor);
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
 /*CALCULATOR*/

 .calculator{
     display: block;
     width:80%;
     margin: 5px auto;
     padding-top: 10px;
 }

 .calcimg{
     max-width: 50%;
     margin-left: auto;
 }

 .formlabel{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: .2rem;
    display: block;
    font-family: Calibre-Regular,Arial,sans-serif;
}
.relative{
    position: relative;
}
.units{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1rem;
    color: #6f707b;
    font-family: Calibre-Semibold,Arial,sans-serif;
    position: absolute;
    
}
.units.prepend{
    left:.7rem;
}
.units.append{
    right:9rem;
}
.units.append.fixed{
    right:.6rem;
}
.forminput{
    font-size: 1rem;
    line-height: 1.75;
    min-height: 2;
    padding-top: .4rem;
    padding-right: .7rem;
    padding-bottom: .4rem;
    padding-left: .7rem;
    border: 1px;
    border-color: #cfcfd4;
    border-radius: 0;
    border-style: solid;
    display: block;
    font-family: Calibre-Semibold,Arial,sans-serif;
    width: 60%;
}
.forminput.prepend{
    padding-left: 1.7rem;
}

.forminput.append{
    padding-right: 1.7rem;
}
.forminput.long{
    width: 100%;
}
.forminput.short{
    width:35%;
}
.forminput.veryshort{
    width:15%;
}
.forminput.fixed{
    width:50px;
}
.labelcenter{
    margin-left: 30px;
    padding-top: 10px;
}

.result{
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    line-height: 1.75;
    font-family: Calibre-Semibold,Arial,sans-serif;
    
}
.result.prepend{
    padding-left: 1.8rem;
}
.result.append{
    padding-right: 1.8rem;
}

.savebtn{
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 7px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background: var(--accentcolor);
    color:var(--bg-fontcolor);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
button:hover{
    opacity: 60%;
}
 /*FLEX*/

 .flexcol{
     display: flex;
     width: 100%;
     flex-direction: column;
 }
 .flexrow{
     display: flex;
 }
 .flexcenter{
     justify-content: center;
     align-items: center;
 }

 .mt{
     margin-top:75px;
 }
.ml{
    margin-left: 20px;
}
.mb{
    margin-bottom: 10px;
}

.split{
    width: 50%;
    justify-content: space-between;
}
 /* About Section */
 .aboutimg{
     display: block;
     object-fit: cover;
     margin:15px auto;
     width: 80%;
     height: 40%;
     border-radius: 8px;

 }